@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Roboto:ital,wght@1,100&display=swap');


header{
    background-color: rgba(0, 255, 255, 0.308);
   
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.Logo{
    padding: 10px;
    }
h1{
    color: rgb(252, 253, 161);
    font-size: 40px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}
p{
    color: black;
    font-size: 20px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;


}
body{
    background-image: url("imagenes/F2JwKMTWwAI3v-X.png");
    background-repeat: 10px;
  
}
 
a{
    color: blueviolet;
    text-decoration: none;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
}
.sky-titulo{
    background-color: rgba(124, 104, 238, 0.322);
    margin: 10px;
}
#pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 139, 0.295);
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    margin-top: 10px;
}
.images-carousel {
    width: 100%;
    height: auto;
    
  }
  
  .carousel {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    align-items: center;
  }
  