@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Roboto:ital,wght@1,100&display=swap');


header{
    background-color: rgba(0, 255, 255, 0.308);
   
}
.Logo{
padding: 10px;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
body{
    background-image: url("imagenes/F2JwKMTWwAI3v-X.png") 
}
a{
    color: blueviolet;
    text-decoration: none;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
}
.oreo-imagen{
    width: 600px;
    height: 600px;
    padding: 20px;
}
.oreo-texto1{
    display: flex;
    flex-direction: row;
    text-align: justify;
    background-color: rgba(124, 104, 238, 0.322);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-top: 10px;
   
    
}
.oreo-texto2{
    background-color: rgba(124, 104, 238, 0.322);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-top: 10px;
   
   
}
#titulo-oreo2{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: rgb(252, 253, 161);
    text-align: center;
}
#titulo-oreo1{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: rgb(252, 253, 161);
    margin-left: 160px;
}
.oreo-texto2 p{
    padding: 10px;
    display: flex;
    flex-direction: row;
    
}
.oreo3{
    width: 450px;
    padding: 10px;
    border-radius: 0px 60px 0px 60px;
}
.oreo2{
    width: 250px;
    padding: 10px;
    border-radius: 0px 60px 0px 60px;
}
.oreo1{
    width: 250px;
    padding: 10px;
    border-radius: 60px 0px 60px 0px;
}
#pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 139, 0.295);
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    margin-top: 10px;
}


